@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueCyr-Bold.woff");
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueCyr-Medium.woff");
    font-style: normal;
    font-weight: 500;
}