:root{
    --header-txt-color: #0A0A0A0A; /*колір заголовку*/
    --txt-color-01: #000;           /* колір основного тексту*/

    --header-bg-first-color: #FEABEF;          /* колір основного фону*/
    --header-bg-second-color: #FDFCF7;     /* колір фону №2*/

    --nav-bg-color: #A7D292;
    --nav-active-txt-color: #333;
    --nav-txt-color: #FDFCF7;
    --nav-icon-bg-color: #A7D292;
    --nav-burger-bg-color: #fff;

    --card-bg-color: #FDFCF7;
    --card-hover-bg-color: #A7D292;
    --card-txt-color: #000;
    --card-hover-txt-color: #FDFCF7;

    --thoughts-txt-color: #000;
    --thoughts-bg-color: #A7D292;

    --desktop-padding: 5rem;

    --star-color: #FF6AE4;

    --ipad-padding: 3.125rem;          /* відступи до контенту на планшеті */
    --desktop-padding: 5rem;
    --mob-padding: 1.25rem;            /* відступи до контенту на мобільному */
    --max-width: 86.25rem;             /* обмеження ширини секції */

    --bg-nav-1: #FEABEF;              /* фон навігації після прокрутки */
    --bg-nav-2: #FDFCF7;              /* фон мобільного меню */
    --nav-color-1: var(--nav-txt-color); /* колір бургера (початковий) */
    --nav-color-3: #333;              /* колір меню після прокрутки */
    --nav-color-4: var(--nav-bg-color); /* колір меню hover після прокрутки */

    --brg-width: 2rem;
    --brg-height: 1.25rem;
    --brg-weight: 0.2rem;
    --brg-color-1: #333;              /* колір бургера після прокрутки */

    --button-bg-color: #A7D292;
    --button-hover-bg-color: #FDFCF7;
    --button-hover-txt-color: #FEABEF;

    --swiper-next-button-hover-color: #A7D292;
}

html, body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px; /* розмір основного тексту */
    font-style: normal;
    font-family: sans-serif;
    color: var(--txt-color-01);
    margin: 0;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction:column;
    min-height: 100dvh;
    margin-left: auto;  /* Центрування блочного елементу по-горизонталі */
    margin-right: auto; /* Центрування блочного елементу по-горизонталі */
    padding: 0;         /* Внутнішній відступ для блочного елементу */
    position: relative;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 86.25rem) {
    header > .inside,
    footer > .inside,
    section > .inside {
        padding-left: var(--desktop-padding);
        padding-right: var(--desktop-padding);
    }
}

@media (max-width: 48rem) {
    header > .inside,
    footer > .inside,
    section > .inside {
        padding-left: var(--mob-padding);
        padding-right: var(--mob-padding);
    }

    .page-content {
        flex-direction: column;
        gap: 2rem;
    }

    .thoughts .thought::before {
        height: 1.5rem;
        width: 2rem;
    }
}