:root{
    --header-txt-color: #0A0A0A0A; /*колір заголовку*/
    --txt-color-01: #000;           /* колір основного тексту*/

    --header-bg-first-color: #FEABEF;          /* колір основного фону*/
    --header-bg-second-color: #FDFCF7;     /* колір фону №2*/

    --nav-bg-color: #A7D292;
    --nav-active-txt-color: #333;
    --nav-txt-color: #FDFCF7;

    --card-bg-color: #FDFCF7;
    --card-hover-bg-color: #A7D292;
    --card-txt-color: #000;
    --card-hover-txt-color: #FDFCF7;

    --thoughts-txt-color: #000;
    --thoughts-bg-color: #A7D292;

    --desktop-padding: 80px;

    --star-color: #FF6AE4;

    --mob-padding: 20px;              /* відступи до контенту на смартфонах */
    --ipad-padding: 50px;              /* відступи до контенту на планшеті */
    --desktop-padding: 80px;
    --max-width: 1380px;               /* обмеження ширини секції */
}

html, body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px; /* розмір основного тексту */
    font-style: normal;
    font-family: sans-serif;
    color: var(--txt-color-01);
    margin: 0;
}


header > .inside,
footer > .inside,
section > .inside {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--ipad-padding);
    padding-right: var(--ipad-padding);
}

@media (max-width:1380px) {
    header > .inside,
    footer > .inside,
    section > .inside {
        padding-left: var(--desktop-padding);
        padding-right: var(--desktop-padding);
    }
}

@media (max-width:640px) {
    header > .inside,
    footer > .inside,
    section > .inside {
        padding-left: var(--mob-padding);
        padding-right: var(--mob-padding);
    }
    .thoughts .thought::before {
        height: 25px;
        width: 30px;
    }
}