.s2-bg-gradient {
    background: linear-gradient(180deg, var(--header-bg-first-color) 0%, var(--header-bg-second-color) 100%);
}

.s2-text-container {
    width: 35%;
    text-align: left;
}

.s2-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem 2rem;
    width: 50%;
}

.s2-card {
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    padding: 2rem 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: var(--card-txt-color);
    min-height: 10rem;
    height: 10rem;
}

.s2-card p {
    margin: 0;
}

.s2-card .card-hover-text {
    margin-top: 1.25rem;
    font-size: clamp(0.75rem, 1.3vw, 1.25rem);
    color: var(--card-hover-txt-color);
}

.s2-cards b {
    font-size: clamp(1rem, 2vw, 2rem);
}

.s2-card:hover {
    background-color: var(--card-hover-bg-color);
}

@media (max-width: 48rem) {
    .s2-text-container {
        width: 100%;
    }

    .s2-cards {
        width: auto;
        grid-template-columns: 15rem;
        justify-content: center;
    }

    .s2-card {
        height: 100px;
        min-height: auto;
    }
}